
h1{
  font-family: 'Londrina Sketch', cursive;;
 font-size: 80px;
 font-weight:lighter;
 color:white;  font-family:
 text-align: center;
}

/*.top{
  font-family:  'Londrina Sketch', cursive;
}*/

h2{
  font-family: 'Amatic SC', cursive;
 font-size: 40px;
 text-align: center;
  padding-top: 50px;
  color:grey;
}


span{
   /*text-shadow: 2px 2px 2px black;*/
    /*padding-left: 50px;*/

 font-family: 'Amatic SC', cursive;;
  font-size: 30px;
  font-weight:lighter;
  color:grey;

}

.bottom{
    padding-left: 415px;
}

.front{
  font-family: 'Londrina Sketch', cursive;;
  font-size: 40px;
  
}
body{
  background-color: black;
}
.background {
  /*background:url(DSCN0657.JPG)top center;*/
  /*background-size:cover;
  min-height: 600px;
  border:groove black;
  background-repeat: no-repeat;*/
  /*background-size: 250px 250px;*/
  /*background-size: contain;*/
 /*background-color:hsla(120,100%,75%,0.3);*/
   background-blend-mode:luminosity;

}
  /*url(soda.jpg) top center repeat;
  background-size: 200px 200px;*/
/*}*/
